<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span><h2>Teen'Ketrika</h2></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="center">
  <mat-card class="example-card">
    <mat-card-title>
      <button mat-button color="primary">
        <span class="mat-h2" >UN RESPONSABLE ADJOINT MAGASIN </span>
      </button>
    </mat-card-title>
    <mat-card-subtitle>24/04/2022</mat-card-subtitle>
    <mat-card-content>
      <p>Société : olo </p>
      <p>{{longText}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="accent">Détails</button>
      <button mat-button>Partager</button>
    </mat-card-actions>
  </mat-card>
</div>




